@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

body,
html {
    height: 100%;
    margin: 0;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

.nav-link {
    font-size: large;
    font-weight: bold;
}

.hero-image {
    background-image: url("./images/site-wallpaper.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: xx-large;
    top: 56%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.hero-text a {
    color: #7cd5f6;
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #7cd5f6;
    height: 50px;
    width: 200px;
    text-align: center;
}

section {
    color: #7cd5f6;
    background-color: #474747;
    padding: 75px;
    min-height: 100%;
    margin: 0 auto -50px;
}

h1 {
    text-align: center;
}

p {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: large;
}

.created .card {
    width: 15rem;
}

.past {
    list-style: none;
}

.created {
    list-style: none;
}

.contact img {
    width: 90%;
}

.contact ul {
    list-style: none;
    margin-top: 20%;
    font-family: 'Open Sans';
    font-size: large;
    font-weight: bold;
    padding-left: 0px; 
}

#resume {
    display: flex;
    flex-direction: column;
}

#resume .small-res {
    width: 200px;
    height: 250px;
}

.download {
    color: #7cd5f6;
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #7cd5f6;
    height: 50px;
    width: 200px;
    text-align: center;
}

@media (min-width: 700px) {
    .created .card {
        width: 20rem;
    }

    .past {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .created {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media (min-width: 800px) {
    .past {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .created {
        display: flex;
        justify-content: space-around;
    }

    .contact {
        display: flex;
        justify-content: space-around;
    }

    .contact .me {
        width: 40%;
        height: 75%;
    }

    .contact ul {
        width: 50%;
        list-style: none;
        margin-top: 5%;
        font-family: 'Open Sans';
        font-size: large;
        font-weight: bold;
        padding-left: 0px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: var(--dark-blue);
        background-color: #474747;
    }

    .large-res {
        margin: auto;
        display: block;
        max-width: 80vw;
        overflow: scroll;
        padding-bottom: 10rem;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
}

@media (min-width: 1400px) {
    .past {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    background-color: #444444;
    position: relative;
    bottom: 0;
    width: 100%;
}

small {
    margin-left: 10px;
    color: white;
}

.footer-contact a {
    color: white;
    margin: 0px 5px;
    text-decoration: none;
}